# Example usage of fneighcf

This Ipython notebook illustrates the usage of the [fneighcf](https://github.com/david-cortes/fneighcf) package, a Python implementation of the collaborative filtering algorithm described in _Koren, Y. (2010). Factor in the neighbors: Scalable and accurate collaborative filtering. ACM Transactions on Knowledge Discovery from Data (TKDD), 4(1), 1._.

Loading the [Movielens-100k dataset](https://grouplens.org/datasets/movielens/100k/):

In [1]:
import pandas as pd, numpy as np, time
from datetime import datetime

ratings=pd.read_table('u.data',sep='\t',engine='python',names=['UserId','ItemId','Rating','Timestamp'])
ratings['Timestamp']=ratings.Timestamp.map(lambda x: datetime(*time.localtime(x)[:6])).map(lambda x: pd.to_datetime(x))
ratings=ratings.sort_values(['UserId','ItemId']).reset_index(drop=True)
ratings.head()

   UserId  ItemId  Rating           Timestamp
0       1       1       5 1997-09-23 01:02:38
1       1       2       3 1997-10-15 08:26:11
2       1       3       4 1997-11-03 09:42:40
3       1       4       3 1997-10-15 08:25:19
4       1       5       3 1998-03-13 03:15:12

Splitting the data into a training and testing set - the model will be evaluated only on users and items that were used to estimate the parameters:

In [2]:
time_cutoff='1998-01-01'
train=ratings.loc[ratings.Timestamp<=time_cutoff]
test=ratings.loc[ratings.Timestamp>time_cutoff]
users_train=set(list(train.UserId))
items_train=set(list(train.ItemId))
test=test.loc[test.UserId.map(lambda x: x in users_train)]
test=test.loc[test.ItemId.map(lambda x: x in items_train)]
print(train.shape)
print(test.shape)

(52884, 4)
(5835, 4)

Example usage:

In [3]:
from fneighcf import FNeigh

recc=FNeigh(use_biases=True,norm_nratings=-0.5, reg_param_biases=0.001, reg_param_interactions=0.5, save_ratings=True)
recc.fit(train, maxiter=15, step_size_biases=0.001, step_size_interactions=0.05,
            decrease_step_sqrt=True, use_sgd=False, verbose=True)

Iteration 1
RMSE after biases only: 0.909330883651
RMSE before update:  0.909330883651

Iteration 2
RMSE after biases only: 0.905166672344
RMSE before update:  0.81647693693

Iteration 3
RMSE after biases only: 0.903919292093
RMSE before update:  0.767220757476

Iteration 4
RMSE after biases only: 0.903393038378
RMSE before update:  0.741463320362

Iteration 5
RMSE after biases only: 0.903185178499
RMSE before update:  0.729500018366

Iteration 6
RMSE after biases only: 0.903098627183
RMSE before update:  0.72442912285

Iteration 7
RMSE after biases only: 0.903064449069
RMSE before update:  0.722389008941

Can also fit the model using stochastic gradient descent (iterating over the ratings in a random order, updating the parameters immediately after calcualting errors for each rating) - this requires fewer passes over the data, thus might take less time (recommended for larger datasets). Note that the step sizes and biases should be smaller than when using full gradient descent as above:

In [4]:
recc=FNeigh(use_biases=True,norm_nratings=-0.5, reg_param_biases=0.001, reg_param_interactions=0.001, save_ratings=True)
recc.fit(train, maxiter=5, step_size_biases=0.001, step_size_interactions=0.01,
            decrease_step_sqrt=True, use_sgd=True)

Test set RMSE

In [5]:
test['Predicted']=test.apply(lambda x: recc.predict(x['UserId'],x['ItemId']),axis=1)
np.sqrt(np.mean((test.Rating-test.Predicted)**2))

1.0617309818726695

Can also ignore the item bias (a measure of the overall item popularity) when making recommendations - these are overall lower quality, but more varied and more 'customized' for each user, having more serendipity (i.e. more likely to recommend something not obvious):

In [6]:
test['PredictedNoBias']=test.apply(lambda x: recc.score(
        rating_history=train[['ItemId','Rating']].loc[train.UserId==x['UserId']],
        item=x['ItemId'],
        user=x['UserId'],
        use_item_bias=False), axis=1)

C:\ipython\fneigh\fneigh.py:375: UserWarning: Fewer than two of the items rated had parameters in the model.
  warnings.warn('Fewer than two of the items rated had parameters in the model.')

Recommendations for a user without rating - i.e. based on global item popularity:

In [7]:
%%time
print(recc.top_n(rating_history=[],n=20))

[1499, 1536, 1629, 1467, 1599, 1512, 1104, 1500, 119, 851, 1450, 1405, 1189, 1175, 1144, 1233, 1158, 1449, 272, 1193]
Wall time: 8 ms

Now a fictional user with some random ratings:

In [8]:
%%time
ratings_fictional_user=[(i,np.random.randint(low=1,high=6)) for i in range(1,10) if i in items_train] # (ItemId,Rating)
print(recc.top_n(rating_history=ratings_fictional_user,n=20,user=1))

[1499, 1536, 1629, 1467, 1599, 1512, 1104, 1500, 119, 851, 1450, 1405, 1189, 1175, 1233, 1144, 1158, 64, 1449, 272]
Wall time: 22 ms

Adding more ratings for the fictional user:

In [9]:
%%time
ratings_fictional_user+=[(i,np.random.randint(low=1,high=6)) for i in range(1,100) if i in items_train]
print(recc.top_n(rating_history=ratings_fictional_user,n=20,user=1))

[1499, 1536, 1629, 1467, 1599, 1512, 1500, 1104, 119, 851, 1450, 1405, 1189, 1175, 1233, 1144, 1158, 272, 1449, 169]
Wall time: 43 ms

Recommendations from some random users - a bad point about this model is that Top-N recommendations tend to be all too similar for different users:

In [10]:
%%time
print(recc.top_n_saved(user=1,n=20))

[1536, 1499, 1629, 1467, 1599, 1512, 1104, 1500, 851, 1450, 1405, 1189, 1175, 1144, 1233, 1158, 1449, 272, 1193, 733]
Wall time: 25 ms

In [11]:
print(recc.top_n_saved(user=870,n=20))

[1536, 1499, 1629, 1467, 1599, 1512, 1104, 1500, 119, 851, 1450, 1405, 1189, 1175, 1144, 1233, 1158, 1449, 272, 1193]

If we exclude the item popularity from the scoring of items, the recommendations become more varied and tailored to each user:

In [12]:
%%time
print(recc.top_n_saved(user=1,n=20,use_item_bias=False))

[1682, 694, 652, 654, 655, 656, 657, 663, 664, 692, 693, 695, 706, 696, 697, 698, 699, 700, 701, 702]
Wall time: 30 ms

In [13]:
print(recc.top_n_saved(user=870,n=20,use_item_bias=False))

[1682, 694, 652, 656, 664, 695, 706, 696, 698, 700, 701, 702, 703, 629, 617, 615, 611, 686, 687, 688]

Some basic comparisons:

In [14]:
avg_ratings=train.groupby('ItemId')['Rating'].mean().to_frame().rename(columns={"Rating":"AvgRating"})
test=pd.merge(test,avg_ratings,left_on='ItemId',right_index=True,how='left')

print('Averge movie rating:',test.groupby('UserId')['Rating'].mean().mean())
print('Average rating for top-5 rated by each user:',test.sort_values(['UserId','Rating'],ascending=False).groupby('UserId')['Rating'].head(5).mean())
print('Average rating for bottom-5 rated by each user:',test.sort_values(['UserId','Rating'],ascending=True).groupby('UserId')['Rating'].head(5).mean())
print('Average rating for top-5 recommendations of best-rated movies:',test.sort_values(['UserId','AvgRating'],ascending=False).groupby('UserId')['Rating'].head(5).mean())
print('----------------------')
print('Average rating for top-5 recommendations from this model:',test.sort_values(['UserId','Predicted'],ascending=False).groupby('UserId')['Rating'].head(5).mean())
print('Average rating for top-5 recommendations from this model (without item bias):',test.sort_values(['UserId','PredictedNoBias'],ascending=False).groupby('UserId')['Rating'].head(5).mean())
print('Average rating for bottom-5 (non-)recommendations from this model:',test.sort_values(['UserId','Predicted'],ascending=True).groupby('UserId')['Rating'].head(5).mean())

Averge movie rating: 3.5602718818211856
Average rating for top-5 rated by each user: 4.5298621745788665
Average rating for bottom-5 rated by each user: 2.246554364471669
Average rating for top-5 recommendations of best-rated movies: 4.029096477794793
----------------------
Average rating for top-5 recommendations from this model: 4.059724349157734
Average rating for top-5 recommendations from this model (without item bias): 3.9448698315467077
Average rating for bottom-5 (non-)recommendations from this model: 3.001531393568147

In [15]:
test.sort_values(['UserId','Predicted'],ascending=False).groupby(['UserId']).head(3)

,UserId,ItemId,Rating,Timestamp,Predicted,PredictedNoBias,AvgRating
99919,943,318,3,1998-02-28 06:11:33,4.258205,0.113592,4.526946
99866,943,98,5,1998-02-28 06:09:40,4.184846,0.147542,4.360000
99850,943,56,5,1998-02-28 06:14:29,4.113238,0.229911,4.160000
97905,921,174,5,1998-01-13 08:43:00,3.965752,0.224779,4.323529
97903,921,172,4,1998-01-13 08:43:43,3.890981,0.197802,4.238806
97955,921,603,3,1998-01-13 08:44:28,3.750537,0.053840,4.410256
97716,919,272,5,1998-01-17 19:50:52,4.273774,0.007985,4.250000
97743,919,313,5,1998-01-17 19:50:00,3.995747,0.025801,4.269231
97739,919,305,4,1998-01-17 19:53:43,3.801727,-0.004598,4.000000
97069,913,258,4,1998-03-08 06:24:09,3.841525,0.066703,3.910204
96831,910,313,4,1998-01-08 05:11:32,3.710968,0.002928,4.269231
96822,910,286,3,1998-01-02 18:56:56,3.287283,-0.018904,3.762646
96823,910,288,3,1998-01-08 05:13:44,3.201530,0.056392,3.468619
96587,907,272,5,1998-01-27 02:14:53,5.110710,0.004962,4.250000
96604,907,313,5,1998-01-27 02:14:53,4.806674,0.006165,4.269231
96565,907,129,5,1998-01-27 02:53:48,4.564968,0.049668,3.827160
95155,894,272,4,1998-01-22 02:12:32,4.429275,0.013425,4.250000
95278,894,909,3,1998-03-09 20:43:27,4.313464,0.001641,5.000000
95324,894,1592,4,1998-03-09 20:49:51,4.313462,0.001637,5.000000
94751,891,50,4,1998-04-04 00:24:42,4.350804,0.083476,4.343284
94752,891,100,5,1998-04-04 00:20:33,4.258419,0.051988,4.232558
94771,891,313,5,1998-04-04 00:18:57,4.177867,0.005503,4.269231
92834,880,272,5,1998-04-19 06:53:56,4.190819,0.006053,4.250000
92823,880,246,5,1998-04-19 07:07:17,3.952477,0.164202,4.029412
92833,880,269,4,1998-04-19 06:54:50,3.898295,0.132610,4.059259
91862,870,64,5,1998-03-12 17:38:22,4.305977,0.168313,4.557471
91890,870,169,4,1998-02-21 23:12:40,4.262899,0.107446,4.588235
91934,870,272,4,1998-03-26 16:01:56,4.225657,0.007657,4.250000
91135,864,64,5,1998-03-03 03:17:10,4.973698,0.122012,4.557471
91194,864,169,5,1998-03-03 03:10:02,4.952072,0.048722,4.588235
...,...,...,...,...,...,...,...
6946,64,50,5,1998-03-12 23:25:14,4.311257,0.186880,4.343284
7047,64,318,4,1998-03-12 23:19:53,4.223056,0.032713,4.526946
6464,60,272,4,1998-03-07 18:07:20,4.737241,0.004279,4.250000
5486,54,272,5,1998-03-23 01:09:35,4.449100,0.006977,4.250000
5495,54,313,4,1998-03-23 01:12:40,4.133349,-0.003121,4.269231
5492,54,298,4,1998-04-16 02:01:40,3.985941,0.116602,3.864078
4897,44,313,4,1998-01-01 01:51:08,4.180568,0.012259,4.269231
4858,44,183,4,1998-01-01 02:09:32,4.099149,0.084770,4.045752
4856,44,176,5,1998-01-01 02:09:32,3.987604,0.042436,3.968944
4675,43,272,5,1998-01-05 00:39:05,4.702379,0.004998,4.250000
4620,43,114,5,1998-01-05 01:02:30,4.537632,0.057703,4.400000
4585,43,12,5,1998-01-05 01:04:08,4.494877,0.029804,4.368750
3909,30,174,5,1998-01-28 00:45:56,4.035838,0.068581,4.323529
3923,30,313,5,1998-01-28 00:45:56,3.903096,0.005915,4.269231
3939,30,1007,5,1998-01-28 00:45:56,3.761664,0.025840,4.071429
3471,23,483,4,1998-01-11 22:20:48,4.334121,0.145339,4.459854
3494,23,694,4,1998-01-11 22:20:49,3.984661,0.061149,4.272727
3409,23,177,4,1998-01-11 22:20:03,3.845623,-0.010343,3.926471
2353,14,98,3,1998-03-26 05:02:15,4.528778,0.068499,4.360000
2336,14,12,5,1998-03-26 05:00:16,4.520620,0.051805,4.368750
2398,14,474,4,1998-03-26 05:05:57,4.515206,0.067628,4.323810
1871,13,272,4,1998-01-11 19:06:43,4.038711,0.009503,4.250000
2323,13,908,1,1998-02-01 05:06:25,3.926329,0.000744,5.000000
2324,13,909,5,1998-03-24 03:58:41,3.926282,0.000714,5.000000
682,6,272,4,1998-01-02 07:01:44,4.410218,0.010402,4.250000
723,6,465,1,1998-01-01 21:38:28,3.630004,0.010054,3.650000
797,6,539,2,1998-01-01 21:03:53,2.317868,0.000080,2.000000
271,1,272,3,1998-02-14 06:47:27,4.373656,0.003555,4.250000
188,1,189,3,1998-03-01 08:15:28,4.035628,0.052787,4.131579
208,1,209,4,1998-03-01 08:15:08,3.964831,0.140247,3.973451